@max-width:100%;
@max-height:100%;
@min-width: 1080px;
@left-distance:5vw;
@container-width:90vw;

@font-color_f:#fff;
@header-color:rgb(136, 210, 245);
@gray:#999;


@theme-color:@header-color;
@text-shadow: 4px 4px 2px @gray;
@box-shadow:10px 10px 10px @gray;
.container-b {
    background-color :fade(@theme-color,80%);
    box-shadow: @box-shadow;
}